@charset 'utf-8';
@use 'index' as v;

@use 'component/input';
@use 'component/button';

.logo{
    font: 400 24px/20px "BagelFatOne";
    letter-spacing: -0.5px;
    color: v.$primary-500;
}

.dscpt-information{
    position: relative;
    font: v.$b1-400;
    color: v.$black-600;
    padding: 30px 0 0 4px;
    margin-top: 16px;
    &::before{
        content: "정보";
        position: absolute;
        @include v.setBg('ic-information.png', 18);
        background: {
            size: 18px !important;
            position: 0 !important;
        }
        padding-left: 20px;
        top: 3px;
        left: 0;
        font: v.$btn3-600;
        color: v.$black-900;
    }
    &.type-warning{
        &::before{
            content: "경고";
            color: v.$error;
            @include v.setBg('ic-error.svg', 18);
        }
    }
}

.status-noti{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding-top: 70px;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        margin-top: 98px;
        p{
            text-align: center;
            color: v.$black-950;
            &.title{
                flex: unset;
                font: v.$h4-600;
                span{
                    color: v.$error;
                }
            }
            &.dscpt{
                font: v.$b1-400;
                color: v.$black-700;
            }
        }
    }
}

.result{
    &-image{
        width: 100%;
        padding-inline: 20px;
        position: relative;
        img{
            width: 100%;
            border: 1px solid v.$secondary-300;
            border-radius: 10px;
        }
        p{
            &.title{
                margin-inline: 2px;
                font: v.$btn3-600;
                font-weight: 700;
                color: v.$black-950;
                margin-bottom: 8px;
            }
        }
    }
    &-match{
        position: relative;
        padding: 14px 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 2px 0 rgba(v.$black-950, 0.15);
        border-radius: 10px;
        background-color: v.$white;

        &-wrap{
            padding-inline: 20px;
            margin-top: 24px;
        }

        &.type{
            &-rows{
                padding: 12px 12px 16px;
                box-shadow: unset;
                & > div{
                    grid-template: 75px auto / auto;
                    place-items: center;
                    gap: 16px;
                    margin-top: unset;
                    img{
                        height: 100%;
                    }
                }
                .btn{
                    margin-top: 16px;
                }
            }
        }

        p.title{
            font: v.$btn3-600;
            font-weight: 500;
            color: v.$black-950;
            span{
                font-weight: 700;
            }
        }
        & > div{
            width: 100%;
            display: grid;
            grid-template-columns: 93px 1fr;
            align-items: center;
            gap: 30px;
            margin-top: 16px;

            img{
                max-width: 100%;
                aspect-ratio: 1;
                border-radius: 10px;
                object-fit: contain;
            }
            .rm-summary{
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px 4px;
                    flex-wrap: wrap;
                }
                li{
                    padding: 3px 11px;
                    background-color: v.$primary-100;
                    border-radius: 20px;
                    font: v.$b3-400;
                    color: v.$black-950;
                    &::before{
                        content: "#";
                    }
                }
            }
        }

        .btn-wrap{
            display: flex;
            justify-content: center;
            margin-top: 16px;
        }
    }
}

.full{
    width: 100%;
    flex: unset !important;
}

.custom{
    &-range{
        margin-top: 32px;
        p{
            font: v.$b4-500;
            line-height: 24px;
            color: v.$black-300;
            letter-spacing: -0.025em;
            &.title{
                font: v.$h7-700;
                color: v.$black-950;
            }
        }
        input{
            width: 100%;
            height: 8px;
            background: v.$primary-800;
            border-radius: 5px;
            margin-block: 30px 16px;
            appearance: none;
            outline: unset;
            cursor: ew-resize;
            box-sizing: border-box;

            &::-webkit-slider-thumb {
                width: 38px;
                height: 38px;
                @include v.setBg('ic-emoji-face.png', 140);
                background-size: 100% !important;
                transform: translateY(-10px);
                appearance: none;
            }

            &.good::-webkit-slider-thumb{
                @include v.setBg('ic-emoji-face-heartEyes.png', 140);
            }
            &.bad::-webkit-slider-thumb{
                @include v.setBg('ic-emoji-face-fearful.png', 140);
            }
        }
        datalist{
            display: flex;
            justify-content: space-between;
            option{
                width: 30px;
                text-align: center;
                font: v.$b0-400;
            }
        }
    }
}