@charset 'utf-8';
@use 'index' as v;

@use 'layout/header';
@use 'layout/footer';
@use 'layout/modal';
@use 'layout/rm-match';

#root{
    position: relative;
    max-width: 420px;
    height: 100dvh;
    margin: auto;
    box-shadow: 0 0 10px 0 rgba(v.$black-950, 0.1);
    display: grid;
    grid-template-rows: auto 1fr auto;
    & > *{
        max-width: inherit;
    }
}

.btn-wrap{
    display: flex;
    align-items: center;
    gap: 8px;
    &:has(.full){
        flex-wrap: wrap;
    }
}

.col{
    &-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}
.hasScroll{
    overflow-y: auto;
}
.main{
    background-color: v.$secondary-50;
}

section{
    padding-top: 20px;
}