@charset 'utf-8';
@use 'index' as v;
@use 'reset'; // 리셋파일
@use 'fonts';
@use 'common';
@use 'layout';

.insertMyDataSuccese{
    padding: 80px 12px 36px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.main-nav{
    padding-inline: 20px;
    margin-block: 24px;
    display: flex;
    gap: 10px;
    a{
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}