@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
  word-break: keep-all;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

a,
button {
  cursor: pointer;
  outline: unset;
  color: inherit;
}

/*
Copyright (c) 2021 Kil Hyung-jin, with Reserved Font Name Pretendard.
https://github.com/orioncactus/pretendard

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL
*/
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url("../../../src/assets/fonts/Pretendard/Pretendard-Black.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url("../../../src/assets/fonts/Pretendard/Pretendard-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("../../../src/assets/fonts/Pretendard/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("../../../src/assets/fonts/Pretendard/Pretendard-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("../../../src/assets/fonts/Pretendard/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("../../../src/assets/fonts/Pretendard/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("../../../src/assets/fonts/Pretendard/Pretendard-Light.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url("../../../src/assets/fonts/Pretendard/Pretendard-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("../../../src/assets/fonts/Pretendard/Pretendard-Thin.otf") format("opentype");
}
@font-face {
  font-family: "BagelFatOne";
  font-weight: 400;
  font-display: swap;
  src: local("BagelFatOne-Regular"), url("../../../src/assets/fonts/BagelFatOne/BagelFatOne-Regular.ttf") format("truetype");
}
.ipt {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ipt input,
.ipt select,
.ipt textarea {
  position: relative;
  width: 100%;
  height: 62px;
  padding: 8px 24px;
  border-radius: 10px;
  outline: unset;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  font: 400 16px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
  box-sizing: border-box;
  appearance: none;
  resize: none;
  letter-spacing: -0.01em;
}
.ipt input::placeholder,
.ipt select::placeholder,
.ipt textarea::placeholder {
  color: #454545;
}
.ipt input[type=date] {
  background: url("../../../src/assets/icons/20/ic-input-calendar.svg") center no-repeat;
  background-position: 16px;
  padding-left: 50px;
}
.ipt input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
}
.ipt select {
  background: url("../../../src/assets/icons/16/ic-input-arrow-bottom.svg") center no-repeat;
  background-position: right 16px center;
  cursor: pointer;
}
.ipt label {
  cursor: pointer;
  transition: 0.2s;
}
.ipt label input {
  display: none;
}
.ipt label.type-shape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  height: 92px;
  font: 600 32px/45.2px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
  letter-spacing: -0.025em;
  background-color: #f6f6f6;
}
.ipt label.type-shape:has(input:checked) {
  background-color: #c2d9fb;
}
.ipt label.type-shape:has(img) {
  padding: 24px 12px 36px;
  height: auto;
  gap: 4px;
}
.ipt label.type-shape:has(img) img {
  width: 100%;
}
.ipt label.type-shape:has(img) p {
  font: 600 18px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.ipt label.type-shape:has(img):has(input:checked) {
  background-color: #dde9fc;
}
.ipt label.type-shape:has(strong) {
  padding: 12px 14px 16px;
  font: 700 36px/45px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.ipt label.type-shape:has(strong) p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ipt label.type-shape:has(strong) span {
  font: 500 12px/120% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #888888;
}
.ipt label.type-chip {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #f6f6f6;
  color: #858a97;
  font: 600 15px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.ipt label.type-chip i {
  font: 600 20px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.ipt label.type-chip i:empty {
  display: none;
}
.ipt label.type-chip:has(input:checked) {
  background-color: #447eed;
  color: #ffffff;
}
.ipt label.type-chip.s-sm {
  font: 700 5px/normal "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  padding: 2px 4px;
  background-color: #e7e7e7;
  color: #888888;
}
.ipt label.type-chip.s-sm:has(input:checked) {
  background-color: #c2d9fb;
  color: #111111;
}
.ipt label.type-radio {
  padding: 24px;
  border: 1px solid #e7e7e7;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 16px;
  font: 600 18px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
}
.ipt label.type-radio::after {
  content: "";
  display: block;
  display: block;
  width: 22px !important;
  height: 22px !important;
  aspect-ratio: 1;
  background: url("../../../src/assets/icons/22/ic-radio.svg") center no-repeat;
  margin-left: auto;
}
.ipt label.type-radio:has(input:checked) {
  background-color: #dde9fc;
  border-color: #dde9fc;
}
.ipt label.type-radio:has(input:checked)::after {
  display: block;
  width: 22px !important;
  height: 22px !important;
  aspect-ratio: 1;
  background: url("../../../src/assets/icons/22/ic-radio-active.svg") center no-repeat;
}
.ipt label.type-toggle {
  position: relative;
  display: block;
  width: 56px;
  height: 28px;
  padding: 2px;
  background-color: #b6bbc3;
  border-radius: 14px;
  transition: 0.2s;
}
.ipt label.type-toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  display: block;
  height: 24px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: #ffffff;
  transition: 0.2s;
}
.ipt label.type-toggle::after {
  content: "OFF";
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
  font: 500 12px/120% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  width: 26px;
  text-align: center;
  color: #ffffff;
  transition: 0.2s;
}
.ipt label.type-toggle:has(input:checked) {
  flex-direction: row-reverse;
  background-color: #447eed;
}
.ipt label.type-toggle:has(input:checked)::before {
  left: 30px;
}
.ipt label.type-toggle:has(input:checked)::after {
  content: "ON";
  left: 2px;
}
.ipt label.type-toggle.type-noText {
  width: 52px;
}
.ipt label.type-toggle.type-noText:has(input:checked)::before {
  left: 26px;
}
.ipt label.type-toggle.type-noText::after {
  content: unset !important;
}
.ipt > div:has(.type-chip) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px 8px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 58px;
  padding: 8px 24px;
  border-radius: 10px;
  outline: unset;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  font: 400 16px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 140%;
  letter-spacing: -0.25px;
  color: #111111;
}
.btn.cp-naver {
  background: url("../../../src/assets/icons/24/ic-logo-naver.svg") center no-repeat;
  background-color: #03C75A;
  border-color: #03C75A;
  background-position: 16px;
  padding-left: 40px;
  color: #ffffff;
}
.btn.cp-google {
  background: url("../../../src/assets/icons/24/ic-logo-google.svg") center no-repeat;
  background-color: #ffffff;
  border-color: #747775;
  background-position: 16px;
  padding-left: 40px;
  color: #1f1f1f;
}
.btn.ts-20 {
  font: 600 20px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.btn.s-sm {
  font: 600 14px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.25px;
  padding: 5px 12px;
  height: unset;
  border-radius: 5px;
  border-color: #b6bbc3;
  color: #111111;
}
.btn.hasImage {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 12px 14px;
  border: unset;
  box-shadow: 0 1px 2px 0 rgba(17, 17, 17, 0.15);
}
.btn.hasImage i {
  font: 600 50px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.btn.hasImage span {
  font: 700 12px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #5d5d5d;
  letter-spacing: -0.25px;
  margin-top: -5px;
}
.btn.bg-primary {
  background-color: #447eed;
  border-color: #447eed;
  color: #ffffff;
}
.btn.bg-secondary {
  background-color: #eef0f1;
  border-color: #eef0f1;
  color: #888888;
}
.btn.anchor {
  font: 600 16px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.25px;
  padding: 20px;
  width: 100%;
  border: unset;
  justify-content: start;
  height: 64px;
}
.btn.custom {
  display: flex;
  height: unset;
  padding: 12px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #ccd0d5;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding-right: 40px;
}
.btn.custom::after {
  content: "";
  display: block;
  width: 20px !important;
  height: 20px !important;
  aspect-ratio: 1;
  background: url("../../../src/assets/icons/20/ic-arrow-right.svg") center no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.btn.custom span {
  display: block;
  font: 500 14px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.25px;
}
.btn.custom span.title {
  font: 600 18px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.btn.type-text {
  padding: unset;
  border: unset;
  border-radius: unset;
  font: 400 13px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #6d6d6d;
  text-decoration: underline;
}

.logo {
  font: 400 24px/20px "BagelFatOne";
  letter-spacing: -0.5px;
  color: #447eed;
}

.dscpt-information {
  position: relative;
  font: 400 16px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #5d5d5d;
  padding: 30px 0 0 4px;
  margin-top: 16px;
}
.dscpt-information::before {
  content: "정보";
  position: absolute;
  background: url("../../../src/assets/icons/18/ic-information.png") center no-repeat;
  background-size: 18px !important;
  background-position: 0 !important;
  padding-left: 20px;
  top: 3px;
  left: 0;
  font: 600 18px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #3d3d3d;
}
.dscpt-information.type-warning::before {
  content: "경고";
  color: #EB5757;
  background: url("../../../src/assets/icons/18/ic-error.svg") center no-repeat;
}
.dscpt-information.type-inline {
  padding-top: unset;
  padding-left: 18px;
  margin-top: 5px;
}
.dscpt-information.type-inline::before {
  content: "";
  height: 18px;
  background-size: 15px !important;
}
.dscpt-information.type-inline p {
  font: 400 12px/200% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.status-noti {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding-top: 70px;
}
.status-noti div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-top: 98px;
}
.status-noti div p {
  text-align: center;
  color: #111111;
}
.status-noti div p.title {
  flex: unset;
  font: 700 26px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.status-noti div p.title span {
  color: #EB5757;
}
.status-noti div p.dscpt {
  font: 400 16px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #4f4f4f;
}

.result-image {
  width: 100%;
  padding-inline: 20px;
  position: relative;
}
.result-image > img {
  width: 100%;
  border: 1px solid #ccd0d5;
  border-radius: 10px;
}
.result-image p.title {
  margin-inline: 0.5333333333vw;
  font: 600 4.8vw/6.9333333333vw "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 700;
  color: #111111;
  margin-bottom: 2.1333333333vw;
}
.result-image .info-wrap {
  position: relative;
  padding: 1.8666666667vw 4.2666666667vw 4.2666666667vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  background: url("../../../src/assets//images/logo-bg.png") center/contain no-repeat;
}
.result-image .info-wrap .ipt label {
  font: 700 1.3333333333vw/180% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  padding: 0 1.0666666667vw;
}
.result-image .info-wrap .ipt label span {
  padding-bottom: 0.5333333333vw;
}
.result-image .info-wrap .info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result-image .info-wrap .info-header p.title img {
  width: 38.9333333333vw;
}
.result-image .info-wrap .info-header table {
  width: auto;
}
.result-image .info-wrap .info-header table th {
  font: 700 1.8666666667vw/120% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #5d5d5d;
  vertical-align: middle;
  padding-bottom: 0.5333333333vw;
}
.result-image .info-wrap .info-header table td {
  padding: 0.5333333333vw 1.6vw;
}
.result-image .info-wrap .info-header table td .ipt > div {
  justify-content: flex-start;
}
.result-image .info-wrap .info-body {
  display: grid;
  grid-template-columns: 1fr auto;
}
.result-image .info-wrap .info-body .ipt label {
  font: 700 1.0666666667vw/180% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  padding-inline: 0.5333333333vw;
}
.result-image .info-wrap .info-body p.title img {
  height: 3.4666666667vw;
}
.result-image .info-wrap .info-body > div > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.1333333333vw;
}
.result-image .info-wrap .info-body > div.data-rm {
  padding-left: 4vw;
  margin-left: 4vw;
  border-left: 1px dashed #98c1f8;
}
.result-image .info-wrap .info-body > div.data-rm > div {
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2vw 5.3333333333vw;
}
.result-image .info-wrap .info-body > div.data-rm > div .full {
  width: unset;
  grid-column: span 2;
}
.result-image .info-wrap .info-body > div.data-rm > div textarea {
  background-color: #EBEDF0;
  color: #5d5d5d;
  border: unset;
  padding: 0vw 1.0666666667vw;
  font: 700 1.0666666667vw/120% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.result-image .info-wrap .info-body dl {
  display: flex;
  flex-direction: column;
  gap: 0.5333333333vw;
}
.result-image .info-wrap .info-body dl dt {
  font: 700 1.3333333333vw/120% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #233985;
  letter-spacing: -0.025em;
}
.result-image .info-wrap .info-body dl dd .ipt, .result-image .info-wrap .info-body dl dd .ipt > div {
  gap: 0.5333333333vw;
}
.result-image .info-wrap .info-body dl dd .ipt > div {
  justify-content: flex-start;
}
.result-match {
  position: relative;
  padding: 14px 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 2px 0 rgba(17, 17, 17, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
}
.result-match-wrap {
  padding-inline: 20px;
  margin-top: 24px;
}
.result-match.type-rows {
  padding: 12px 12px 16px;
  box-shadow: unset;
}
.result-match.type-rows > div {
  grid-template: 75px auto/auto;
  place-items: center;
  gap: 16px;
  margin-top: unset;
}
.result-match.type-rows > div img {
  height: 100%;
}
.result-match.type-rows .btn {
  min-width: 75px;
  margin-top: 16px;
  flex: 1;
}
.result-match.type-rows .btn-wrap {
  gap: 4px;
}
.result-match p.title {
  font: 600 18px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  color: #111111;
}
.result-match p.title span {
  font-weight: 700;
}
.result-match > div {
  width: 100%;
  display: grid;
  grid-template-columns: 93px 1fr;
  align-items: center;
  gap: 30px;
  margin-top: 16px;
}
.result-match > div img {
  max-width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
  object-fit: contain;
}
.result-match > div .rm-summary ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px 4px;
  flex-wrap: wrap;
}
.result-match > div .rm-summary li {
  padding: 2.5px 8px;
  background-color: #dde9fc;
  border-radius: 20px;
  font: 500 12px/120% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
}
.result-match > div .rm-summary li::before {
  content: "#";
}
.result-match .btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.full {
  width: 100%;
  flex: unset !important;
}

.custom-range {
  margin-top: 32px;
}
.custom-range p {
  font: 400 13px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 24px;
  color: #b0b0b0;
  letter-spacing: -0.025em;
}
.custom-range p.title {
  font: 700 18px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
}
.custom-range input {
  width: 100%;
  height: 8px;
  background: #253fa8;
  border-radius: 5px;
  margin-block: 30px 16px;
  appearance: none;
  outline: unset;
  cursor: ew-resize;
  box-sizing: border-box;
}
.custom-range input::-webkit-slider-thumb {
  width: 38px;
  height: 38px;
  background: url("../../../src/assets/icons/140/ic-emoji-face.png") center no-repeat;
  background-size: 100% !important;
  transform: translateY(-10px);
  appearance: none;
}
.custom-range input.good::-webkit-slider-thumb {
  background: url("../../../src/assets/icons/140/ic-emoji-face-heartEyes.png") center no-repeat;
}
.custom-range input.bad::-webkit-slider-thumb {
  background: url("../../../src/assets/icons/140/ic-emoji-face-fearful.png") center no-repeat;
}
.custom-range datalist {
  display: flex;
  justify-content: space-between;
}
.custom-range datalist option {
  width: 30px;
  text-align: center;
  font: 400 18px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

header {
  padding: 9px 20px;
  display: flex;
  align-items: center;
}
header .btn {
  height: unset;
  border: unset;
  padding: unset;
  background-color: unset;
}
header .btn-wrap {
  margin-left: auto;
}
header .btn::before {
  content: "";
  filter: invert(0%) sepia(0%) saturate(6296%) hue-rotate(155deg) brightness(94%) contrast(87%);
}
header .btn.ic-setting::before {
  display: block;
  width: 28px !important;
  height: 28px !important;
  aspect-ratio: 1;
  background: url("../../../src/assets/icons/28/ic-setting.svg") center no-repeat;
}
header .btn.ic-bell::before {
  display: block;
  width: 28px !important;
  height: 28px !important;
  aspect-ratio: 1;
  background: url("../../../src/assets/icons/28/ic-bell.svg") center no-repeat;
}
header .btn.ic-arrow-left::before {
  display: block;
  width: 28px !important;
  height: 28px !important;
  aspect-ratio: 1;
  background: url("../../../src/assets/icons/28/ic-arrow-left.svg") center no-repeat;
}
header h1 {
  font: 600 18px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header:empty {
  display: none;
}

footer {
  padding: 10px 24px 20px;
}
footer .btn-wrap {
  width: 100%;
  gap: 10px 20px;
  flex-direction: column;
}
footer:empty {
  display: none;
}

.rm-match-wrap .title {
  flex: 0 0 162px;
  font: 700 28px/32px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
  align-content: center;
}
.rm-match-wrap .title + div {
  flex: 1;
}
.rm-match-section {
  padding: 32px 24px 24px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
.rm-match-section .btn-wrap {
  padding-top: 20px;
}
.rm-match-section .btn-wrap .btn {
  flex: 1;
}
.rm-match-section > div:has(.ipt:only-child) {
  align-content: center;
}
.rm-match-section .type-radio + textarea {
  display: none;
  height: 25dvh;
  margin-top: 12px;
  padding-inline: 8px;
}
.rm-match-section .type-radio:has(input:checked) + textarea {
  display: block;
}
.rm-match-result {
  padding-inline: 20px;
  justify-items: center;
}
.rm-match-result p.title {
  font: 500 20px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
  letter-spacing: -0.25px;
  text-align: center;
}
.rm-match-result p.title span {
  font-weight: 700;
}
.rm-match-result .btn {
  margin-top: 20px;
}
.rm-match-result .u-photo {
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: contain;
  margin: 16px auto;
}
.rm-match-result .u-faculty, .rm-match-result .u-major {
  text-align: center;
  font: 600 20px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.rm-match-info {
  width: 100%;
  margin-top: 48px;
  padding-block: 7px;
  border-radius: 10px;
  background-color: #dde9fc;
}
.rm-match-info dl {
  width: 100%;
  padding: 7px 24px;
  display: grid;
  grid-template-columns: auto 1fr;
  font: 600 18px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
}
.rm-match-info dl dd {
  text-align: right;
}

.wrap-insert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.wrap-insert .title + div {
  flex: 1;
}

.list-alert {
  padding-inline: 20px;
  min-height: 100%;
}
.list-alert li {
  margin-bottom: 10px;
}
.list-alert p.date {
  font: 600 15px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
  padding: 5px 4px;
  letter-spacing: -0.5px;
}
.list-alert a {
  display: block;
  font: 400 13px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
}
.list-alert ul + p {
  font: 400 13px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #b0b0b0;
  text-align: center;
  margin-top: 60px;
}
.list-alert ul:empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.list-alert ul:empty + p {
  display: none;
}
.list-alert ul:empty::before {
  content: "";
  display: block;
  width: 100px !important;
  height: 100px !important;
  aspect-ratio: 1;
  background: url("../../../src/assets/icons/100/ic-nodata-alert.svg") center no-repeat;
}
.list-alert ul:empty::after {
  content: "새로운 알림이 없습니다.";
  font: 400 13px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #b0b0b0;
}
.list-notice {
  padding: 50px 20px 0;
}
.list-notice p.title {
  font: 600 15px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
  margin-bottom: 10px;
}
.list-notice li {
  border: 1px solid #e7e7e7;
  border-radius: 16px;
  padding: 18px 24px;
  margin-bottom: 16px;
  background-color: #ffffff;
}
.list-notice li a {
  display: grid;
  grid-template-columns: 24px 1fr;
  place-items: center;
  gap: 12px;
  font: 400 18px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
}
.list-notice li a p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  max-width: 100%;
  justify-self: flex-start;
}
.list-notice li a::before {
  content: "";
  display: block;
  width: 24px !important;
  height: 24px !important;
  aspect-ratio: 1;
  background: url("../../../src/assets/icons/24/ic-notice.svg") center no-repeat;
}
.list-notice ul + p {
  font: 400 13px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #b0b0b0;
  text-align: center;
  margin-top: 60px;
}
.list-notice ul:empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.list-notice ul:empty + p {
  display: none;
}
.list-notice ul:empty::before {
  content: "";
  display: block;
  width: 100px !important;
  height: 100px !important;
  aspect-ratio: 1;
  background: url("../../../src/assets/icons/100/ic-nodata-alert.svg") center no-repeat;
}
.list-notice ul:empty::after {
  content: "공지사항이 없습니다.";
  font: 400 13px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #b0b0b0;
}
.list-rm {
  width: inherit;
  position: relative;
  margin-block: 20px;
}
.list-rm > ul {
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: 14px;
}
.list-rm > ul > li {
  flex-basis: 180px;
}
.list-rm > ul > li:first-child {
  margin-left: 20px;
}
.list-rm > ul > li:last-child {
  margin-right: 20px;
}
.list-result-match {
  padding: 20px;
}
.list-result-match li {
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  overflow: hidden;
}
.list-result-match li:not(:last-child) {
  margin-bottom: 20px;
}
.list-result-match .item-body {
  padding: 14px 12px;
  display: grid;
  grid-template-columns: 62px 1fr;
  gap: 20px;
  place-items: center;
}
.list-result-match .item-body > div {
  justify-self: flex-start;
}
.list-result-match img {
  aspect-ratio: 1;
  width: 100%;
  object-fit: contain;
}
.list-result-match p {
  font: 300 13px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
}
.list-result-match .u-name {
  display: inline-block;
  font: 600 15px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin-bottom: 6px;
}
.list-result-match .btn-wrap {
  gap: unset;
}
.list-result-match .btn-wrap .btn {
  border-color: #e7e7e7;
  border-right: unset;
  border-bottom: unset;
  border-left: unset;
  border-radius: unset;
  flex: 1;
  height: 38px;
  padding: unset;
  font: 600 13px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.list-result-match .btn-wrap .btn + .btn {
  border-left: 1px solid #e7e7e7;
}
.list-result-match .btn-wrap .btn.ic-delete::before {
  content: "";
  display: block;
  width: 30px !important;
  height: 30px !important;
  aspect-ratio: 1;
  background: url("../../../src/assets/icons/30/ic-delete.svg") center no-repeat;
}
.list-result-match .btn-wrap .btn.ic-accept::before {
  content: "";
  display: block;
  width: 30px !important;
  height: 30px !important;
  aspect-ratio: 1;
  background: url("../../../src/assets/icons/30/ic-accept.svg") center no-repeat;
}
.list-result-match .btn-wrap .btn.type-accept {
  color: #447eed;
  font: 600 14px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.list-result-match .btn-wrap .btn.type-delete {
  font: 600 14px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #EB5757;
}
.list-setting p {
  font: 500 12px/120% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #888888;
  padding-inline: 24px;
  margin-bottom: 12px;
}
.list-setting .ipt {
  margin-left: auto;
}
.list-setting .u-info {
  margin-block: -2px 2px;
}
.list-setting .u-photo {
  width: 28px;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 50%;
}
.list-setting .u-name {
  font: 500 20px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
  letter-spacing: -0.3px;
}
.list-setting > ul > li:not(:first-child) {
  border-top: 1px solid #d1d1d1;
  padding-block: 20px 10px;
}
.list-setting > ul ul {
  padding-inline: 24px;
}
.list-setting > ul ul li {
  display: flex;
  align-items: center;
  padding-inline: 6px;
  height: 40px;
}
.list-setting > ul ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  font: 500 16px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
  line-height: 40px;
}
.list-setting > ul ul li.ic-arrow-right {
  background: url("../../../src/assets/icons/20/ic-arrow-right.svg") center no-repeat;
  background-position: right center;
}

#root {
  position: relative;
  max-width: 100dvw;
  height: 100dvh;
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(17, 17, 17, 0.1);
  display: grid;
  grid-template-rows: auto 1fr auto;
}
#root > * {
  max-width: inherit;
}

.btn-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}
.btn-wrap:has(.full) {
  flex-wrap: wrap;
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.hasScroll {
  overflow-y: auto;
}

.main {
  background-color: #f6f6f7;
}

.recommendation section {
  background-color: #F5F5F5;
}

section {
  position: relative;
  padding-block: 20px;
  overflow-y: auto;
}
section:has(.rm-match-section) {
  overflow: unset;
}
section:has(.tab) {
  padding-top: unset;
}
section .tab {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  gap: 3px;
  background-color: #ffffff;
}
section .tab a {
  position: relative;
  flex: 1;
  text-align: center;
  padding-bottom: 10px;
}
section .tab a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e0e3e5;
  transition: 0.2s;
}
section .tab a.active::before {
  height: 4px;
  background-color: #2f60e1;
}

.insertMyDataSuccese {
  padding: 80px 12px 36px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.main-nav {
  padding-inline: 20px;
  margin-block: 24px;
  display: flex;
  gap: 10px;
}
.main-nav a {
  flex: 1;
}

.recommendation section {
  padding-block: 20px;
}
.recommendation .item {
  padding-inline: 20px;
}
.recommendation .alert-rm {
  padding-inline: 20px;
  margin-block: 20px;
}
.recommendation .alert-rm > div {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}
.recommendation .alert-rm p.title {
  font: 600 16px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.recommendation .alert-rm ul {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.recommendation .alert-rm ul li {
  padding: 12px;
  border-radius: 12px;
  background-color: #f0f5fe;
  box-shadow: 0 1px 2px 0 rgba(26, 37, 81, 0.15);
}
.recommendation .alert-rm ul li p {
  font: 400 15px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.25px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.recommendation .alert-rm ul li p span {
  font: 600 14px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  flex: 1;
  text-align: center;
}
.recommendation .alert-rm .btn-wrap {
  margin-top: 32px;
  justify-content: center;
  padding-inline: 20px;
}
.recommendation .alert-rm .btn-wrap .btn {
  flex: 1;
  min-width: unset;
  padding-inline: 10px;
}
.recommendation .list-notice {
  padding-top: unset;
}

.tab {
  display: flex;
  z-index: 1;
}
.tab a {
  flex: 1;
}

.updateUser label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: 24px 18px;
}
.updateUser label input {
  display: none;
}
.updateUser label img {
  width: 100px;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
  background-color: #c2d9fb;
}
.updateUser label span {
  font: 500 15px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #888888;
}
.updateUser .ipt {
  padding-inline: 20px;
}
.updateUser .ipt textarea {
  height: 30dvh;
}

.policy section {
  padding-inline: 20px;
}
.policy h1 {
  font: 600 20px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
}
.policy h1 ~ h1 {
  margin-top: 24px;
}
.policy h2 {
  font: 600 18px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
  margin-top: 16px;
}
.policy p {
  font: 400 16px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
  margin-top: 8px;
}
.policy ul {
  margin-top: 4px;
  font: 400 14px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.policy ul li {
  list-style: initial;
  margin-left: 20px;
}/*# sourceMappingURL=style.css.map */