@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
  word-break: keep-all;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

a,
button {
  cursor: pointer;
  outline: unset;
  color: inherit;
}

/*
Copyright (c) 2021 Kil Hyung-jin, with Reserved Font Name Pretendard.
https://github.com/orioncactus/pretendard

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL
*/
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url("/src/assets/font/Pretendard/Pretendard-Black.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url("/src/assets/font/Pretendard/Pretendard-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("/src/assets/font/Pretendard/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("/src/assets/font/Pretendard/Pretendard-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("/src/assets/font/Pretendard/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("/src/assets/font/Pretendard/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("/src/assets/font/Pretendard/Pretendard-Light.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url("/src/assets/font/Pretendard/Pretendard-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("/src/assets/font/Pretendard/Pretendard-Thin.otf") format("opentype");
}
.ipt {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ipt input,
.ipt select,
.ipt textarea {
  position: relative;
  width: 100%;
  height: 62px;
  padding: 8px 24px;
  border-radius: 10px;
  outline: unset;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  font: 400 16px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
  box-sizing: border-box;
  appearance: none;
  resize: none;
  letter-spacing: -0.01em;
}
.ipt input::placeholder,
.ipt select::placeholder,
.ipt textarea::placeholder {
  color: #454545;
}
.ipt input[type=date] {
  background: url("/src/assets/icons/20/ic-input-calendar.svg") center no-repeat;
  background-position: 16px;
  padding-left: 50px;
}
.ipt input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
}
.ipt select {
  background: url("/src/assets/icons/16/ic-input-arrow-bottom.svg") center no-repeat;
  background-position: right 16px center;
  cursor: pointer;
}
.ipt label {
  cursor: pointer;
  transition: 0.2s;
}
.ipt label input {
  display: none;
}
.ipt label.type-shape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  height: 92px;
  font: 600 32px/45.2px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
  letter-spacing: -0.025em;
  background-color: #f6f6f6;
}
.ipt label.type-shape:has(input:checked) {
  background-color: #c2d9fb;
}
.ipt label.type-shape:has(img) {
  padding: 24px 12px 36px;
  height: auto;
  gap: 4px;
}
.ipt label.type-shape:has(img) img {
  width: 100%;
}
.ipt label.type-shape:has(img) p {
  font: 600 18px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.ipt label.type-shape:has(img):has(input:checked) {
  background-color: #dde9fc;
}
.ipt label.type-shape:has(strong) {
  padding: 12px 14px 16px;
  font: 700 36px/45px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.ipt label.type-shape:has(strong) p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ipt label.type-shape:has(strong) span {
  font: 500 12px/120% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #888888;
}
.ipt label.type-chip {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #f6f6f6;
  color: #858a97;
  font: 600 15px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.ipt label.type-chip i {
  font: 600 20px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.ipt label.type-chip i:empty {
  display: none;
}
.ipt label.type-radio {
  padding: 24px;
  border: 1px solid #e7e7e7;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 16px;
  font: 600 18px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
}
.ipt label.type-radio::after {
  content: "";
  display: block;
  display: block;
  width: 22px !important;
  height: 22px !important;
  aspect-ratio: 1;
  background: url("/src/assets/icons/22/ic-radio.svg") center no-repeat;
  margin-left: auto;
}
.ipt label.type-radio:has(input:checked) {
  background-color: #dde9fc;
  border-color: #dde9fc;
}
.ipt label.type-radio:has(input:checked)::after {
  display: block;
  width: 22px !important;
  height: 22px !important;
  aspect-ratio: 1;
  background: url("/src/assets/icons/22/ic-radio-active.svg") center no-repeat;
}
.ipt > div:has(.type-chip) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px 8px;
}

.btn {
  display: inline-block;
  position: relative;
  height: 58px;
  padding: 8px 24px;
  border-radius: 10px;
  outline: unset;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  font: 400 16px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 140%;
  letter-spacing: -0.25px;
  color: #111111;
}
.btn.bg-primary {
  background-color: #447eed;
  border-color: #447eed;
  color: #ffffff;
}
.btn.bg-secondary {
  background-color: #eef0f1;
  border-color: #eef0f1;
  color: #888888;
}
.btn.ts-20 {
  font: 600 20px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.dscpt-information {
  position: relative;
  font: 400 16px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #5d5d5d;
  padding-top: 30px;
  margin-top: 16px;
}
.dscpt-information::before {
  content: "";
  position: absolute;
  display: block;
  width: 18px !important;
  height: 18px !important;
  aspect-ratio: 1;
  background: url("/src/assets/icons/18/ic-arrow-right") center no-repeat;
  background-color: red;
  top: 3px;
  left: 0;
}
.dscpt-information::after {
  content: "정보";
  position: absolute;
  font: 600 18px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #3d3d3d;
  top: 0;
  left: 20px;
}

.status-noti {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding-top: 70px;
}
.status-noti div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 98px;
}
.status-noti div p {
  text-align: center;
  color: #111111;
}
.status-noti div p.title {
  flex: unset;
  font: 700 26px/140% "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.status-noti div p.dscpt {
  font: 400 16px/26px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #4f4f4f;
}

footer {
  padding: 10px 24px 20px;
}
footer .btn-wrap {
  width: 100%;
  gap: 10px 20px;
  flex-direction: column;
}
footer .btn-wrap .btn {
  width: 100%;
}

.rm-match-wrap .title {
  flex: 0 0 162px;
  font: 700 28px/32px "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #111111;
  align-content: center;
}
.rm-match-wrap .title + div {
  flex: 1;
}
.rm-match-section {
  padding: 32px 24px 24px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
.rm-match-section .btn-wrap {
  padding-top: 20px;
}
.rm-match-section .btn-wrap .btn {
  flex: 1;
}
.rm-match-section > div:has(.ipt:only-child) {
  align-content: center;
}
.rm-match-section .type-radio + textarea {
  display: none;
  height: 25dvh;
  margin-top: 12px;
  padding-inline: 8px;
}
.rm-match-section .type-radio:has(input:checked) + textarea {
  display: block;
}

.swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#root {
  position: relative;
  max-width: 420px;
  height: 100dvh;
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(17, 17, 17, 0.1);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.btn-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.hasScroll {
  overflow-y: auto;
}

.insertMyDataSuccese {
  padding: 80px 12px 36px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}/*# sourceMappingURL=style.css.map */