@charset 'utf-8';
@use '../index' as v;

footer{
    padding: 10px 24px 20px;
    .btn-wrap{
        width: 100%;
        gap: 10px 20px;
        flex-direction: column;
    }
    &:empty{
        display: none;
    }
}