@charset 'utf-8';
@use '../index' as v;

.rm-match{
    &-wrap{
        .title{
            flex: 0 0 162px;
            font: v.$h1-700;
            color: v.$black-950;
            align-content: center;
            & + div{
                flex: 1;
            }
        }
    }
    &-section{
        padding: 32px 24px 24px;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        .btn{
            &-wrap{
                padding-top: 20px;
                .btn{
                    flex: 1;
                }
            }
        }
        & > div{
            &:has(.ipt:only-child){
                align-content: center;
            }
        }
    }
}
.swiper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}