@charset 'utf-8';
@use '../index' as v;

.btn{
    display: inline-block;
    position: relative;
    height: 58px;
    padding: 8px 24px;
    border-radius: 10px;
    outline: unset;
    border: 1px solid v.$black-200;
    background-color: v.$white;
    font: v.$b1-400;
    line-height: 140%;
    letter-spacing: -0.25px;
    color: v.$black-950;

    &.bg{
        &-primary{
            background-color: v.$primary-500;
            border-color: v.$primary-500;
            color: v.$white;
        }
        &-secondary{
            background-color: v.$secondary-100;
            border-color: v.$secondary-100;
            color: v.$black-400;
        }
    }

    &.ts{
        &-20{

            font: v.$btn2-600;
        }
    }
}